body {
    background-color: #FF0000;
}

#BasketballBRLogo {
    background-image: url(basketball\ party-vector1.jpg); 
    background-repeat: no-repeat;
    background-size: 25% 100%;   
}

header {
    background-color: #000000;
    height: 100px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: yellow;
    height: 40px; 
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6.7px;
}

nav li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 2px solid #0000FF;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

nav a {
  text-decoration: none;
}
nav a:link {
    color: #0000FF;
}
nav a:visited {
    color: #800080 
}
nav a:hover {
    color: #FF0000;
}
nav a:active {
    color: #00FFFF;
}

#HeroImage {
    height: 500px;
    background-image: url(4500176023_5b69662a2c_k.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    display: block;
}

.HomeBackground {
    background-color: #00FF00;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 35px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding-left: 25px;
    padding-right: 20px;
}

.ImgsandVidsBackground {
    background-color: #00FF00;
    margin-top: 0;
    margin-bottom: 0; 
    padding-top: 10px;
}

#ImgsandVidsDisplay {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 9.65px;
}

img {
    width: 215px;
    height: 120px;
}

video {
    width: 225px;
    height: 120px;
}

footer {
    background-color: #FF4500;
    height: 185px;
    padding: 1px;
}

footer a {
  text-decoration: none;
}
footer a:link {
    color: #0000FF;
}
footer a:visited {
    color: #800080 
}
footer a:hover {
    color: #FF0000;
}
footer a:active {
    color: #00FFFF;
}

footer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

footer li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

h4 {
    color: #FFFFFF;
}

.EmailPadPosition {
    text-align: center;
}

.EmailLinkPadPos {
    text-align: center;
    padding-left: 510px;
}

.AnyQuestionsPadPos {
    text-align: center;
}

.CopyrightCascade {
    font-style: italic;
    text-align: center;
    padding-top: 13px;
}